/* A bunch of disgusting CSS overrides that hit the system's CSS like a hammer to remove as much colour as possible */

.dark-loot-theme {
    --pfui-main-color: #cfbda7;
    --pfui-main-grey-color: #98968a;
    --green: #91a82a;
    --blue: #171f69;
    --red: #5e0000;
    --red-light:#ff0000;
    --custom-trait:#61180e;
    --border-radius: 3px;
    --background: #100d0d;
    --background-2: #ffffff14;
    --highlight: 0 0 0 1px var(--pfui-main-color), 0 0 0 2px #93d1d3, inset 0 0 4px rgba(255, 255, 255, 0.25);
    --glass-bg: rgba(20, 20, 20, 0.6);
    --glass-bg-light: rgba(255, 255, 255, 0.1);
    --glass-bg-light-2: #3f342b;
    --glass-bg-dark: rgba(0, 0, 0, 0.7);
    --glassy: 0px 0px 3px 0px rgba(255, 255, 255, 0.4) inset, 0px 0px 2px 1px rgba(0, 0, 0, 1), 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    --glassy-sharp: 0px 0px 0px 1px rgba(255, 255, 255, 0.4) inset, 0px 0px 5px 1px rgba(0, 0, 0, 0.8);
    --glassy-sharp-highlight: 0px 0px 0px 1px rgba(245, 222, 179, 0.7) inset, 0px 0px 5px 1px rgba(0, 0, 0, 0.8);
	--primary-remaster: hsl(153, 100%, 8%);
	--primary-light-remaster: hsl(170, 96%, 19%);
    --ornement : url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='33' height='33' overflow='scroll'%3E%3Cstyle%3E.st1{stroke:wheat;stroke-miterlimit:10}.st1,.st2{fill:none}%3C/style%3E%3Cg opacity='0.75'%3E%3Cpath class='st1' d='M.5 20v-7'/%3E%3Cpath class='st2' d='M13 20v-7'/%3E%3Cpath class='st1' d='M13 .5h7'/%3E%3Cpath class='st2' d='M13 13h7'/%3E%3Cpath class='st1' d='M32.5 13v7'/%3E%3Cpath class='st2' d='M20 13v7'/%3E%3Cpath class='st1' d='M20 32.5h-7'/%3E%3Cpath class='st2' d='M20 20h-7'/%3E%3Cpath class='st1' d='M.5.5h3.1v3.1H.5zm3.1 3.1h3.1v3.1H3.6zm3.2 0h3.1v3.1H6.8zM3.6 6.8h3.1v3.1H3.6zm0 0H.5V13M13 .5H6.8v3.1M29.4.5h3.1v3.1h-3.1zm-3.1 3.1h3.1v3.1h-3.1zm0 3.2h3.1v3.1h-3.1zm-3.2-3.2h3.1v3.1h-3.1zm3.2 0V.5H20M32.5 13V6.8h-3.1M29.4 29.4h3.1v3.1h-3.1z'/%3E%3Cpath class='st1' d='M26.3 26.3h3.1v3.1h-3.1zm-3.2 0h3.1v3.1h-3.1zm3.2-3.2h3.1v3.1h-3.1z'/%3E%3Cpath class='st1' d='M29.4 26.3h3.1V20M20 32.5h6.3v-3.1'/%3E%3Cg%3E%3Cpath class='st1' d='M.5 29.4h3.1v3.1H.5zm3.1-3.1h3.1v3.1H3.6zm0-3.2h3.1v3.1H3.6zm3.2 3.2h3.1v3.1H6.8zM6.8 29.4v3.1H13M.5 20v6.3h3.1'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    
    --primary: var(--red);
    --secondary: var(--blue);
    --tertiary: var(--pfui-main-color);
    --tertiary-dark: var(--pfui-main-color);
    --tertiary-light: var(--pfui-main-color);
    --body: var(--pfui-main-color);
    --text-dark: var(--pfui-main-color);
    --text-light: var(--pfui-main-color);
    --sidebar-label: var(--pfui-main-color);
    --sidebar-title: var(--pfui-main-color);
    
    --alt: #786452;
    --sub: var(--background);

    --rarity-common: #7e7e7e;
    --rarity-uncommon: #ff6400;
    --rarity-rare: #0062ff;
    --rarity-unique: #e127e1;
    
/* Foundry2
====================================================== */
    --color-warm-1: #ee9b3a;
    --color-warm-2: #c9593f;
    --color-warm-3: #5d142b;
    --color-cool-3: #584a75;
    --color-cool-4: #302831;
    --color-cool-5: #0b0a13;
    --color-cool-5-25: rgba(11, 10, 19, 0.25);
    --color-cool-5-50: rgba(11, 10, 19, 0.5);
    --color-cool-5-75: rgba(11, 10, 19, 0.75);
    --color-cool-5-90: rgba(11, 10, 19, 0.9);
    --color-light-1: #f7f3e8;
    --color-light-2: #efe6d8;
    --color-light-3: #e7d1b1;
    --color-light-4: #d0b8a3;
    --color-light-5: #9f8475;
    --color-light-6: #816b66;
    --color-level-error: #ce0707;
    --color-level-error-bg: rgba(105, 0, 8, 0.8);
    --color-level-error-border: #750003;
    --color-level-info: #59a1f6;
    --color-level-info-bg: rgba(47, 80, 132, 0.8);
    --color-level-info-border: #5c87b9;
    --color-level-success: #26b231;
    --color-level-success-bg: rgba(26, 107, 34, 0.8);
    --color-level-success-border: #1b8f23;
    --color-level-warning: #ee9b3a;
    --color-level-warning-bg: rgba(214, 150, 0, 0.8);
    --color-level-warning-border: #b18404;
    --color-scrollbar: #5d142b;
    --color-scrollbar-border: #8d151b;
}


/************************/
/*      Loot-sheet      */
/************************/

.dark-loot-theme.sheet.actor.loot .window-content {
    color: var(--pfui-main-color);
    background: none;
    box-shadow: none;
    margin: unset;
    backdrop-filter: blur(5px);
}
.dark-loot-theme.sheet.actor.loot .sheet-header {
    background: radial-gradient(var(--primary-remaster), var(--glass-bg-dark));
    border: none;
    backdrop-filter: blur(5px);
}
.dark-loot-theme.sheet.actor.loot .sheet-header h1 > input {
    color: var(--pfui-main-color);
    text-transform: uppercase;
    border: none;
    background: none;
    text-shadow: 0 0 8px var(--color-shadow-primary);
}
.dark-loot-theme.sheet.actor.loot section.sidebar {
    border: none;

}
.dark-loot-theme.sheet.actor.loot .sheet-header .traits-bar > .trait {
    color: var(--pfui-main-color);
    text-transform: uppercase;
    border: none;
    background-color: var(--glass-bg);
    box-shadow: var(--box-shadow);
    text-shadow: 0 0 1px black;
    border-radius: var(--border-radius);
}
.dark-loot-theme.sheet.actor.loot section.sidebar .gm-settings .loot-distribution button {
    color: var(--pfui-main-color);
    text-transform: uppercase;
    border: 2px solid black;
    background: var(--background);
    box-shadow: var(--box-shadow);
    text-shadow: 0 0 3px black;
    border-radius: var(--border-radius);
}
.dark-loot-theme.sheet.actor.loot section.sidebar .gm-settings .loot-distribution button:hover {
    border: 1px solid black;
    background: none;
    background-color: var(--green);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15), inset 0 0 0 2px rgba(0, 0, 0, 0.4);
    transition: text-shadow 0.15s ease-in-out, background-color 0.15s ease-in-out, border 0.15s ease-in-out, color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, backdrop-filter 0.15s ease-in-out, border-radius 0.15s;
    text-shadow: 0 0 1px black!important;
    color: var(--background)!important;
    border-radius: var(--border-radius);
}
.dark-loot-theme.sheet.actor.loot section.sidebar input[type="checkbox"]:checked, input[type="radio"]:checked {
    accent-color: var(--green);
}
.dark-loot-theme.sheet.actor.loot section.sidebar .image-container [data-action=show-image] {
    color: var(--color-warm-1);
    box-shadow: 0 0 0 1px var(--color-warm-2), 0 0 0 2px var(--color-warm-3);
    background-color: var(--color-cool-5-90);
}
.dark-loot-theme.sheet.actor.loot section.sidebar .editor-edit {
    color: var(--color-warm-1);
    box-shadow: 0 0 0 1px var(--color-warm-2), 0 0 0 2px var(--color-warm-3);
    background-color: var(--color-cool-5-90);
}
.dark-loot-theme.sheet.actor.loot [data-visibility]:not([data-visibility=all])[data-visibility=gm] {
    font-style: italic;
    color: var(--pfui-main-color);
    background: var(--color-warm-3);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    border: none;
}
.dark-loot-theme.sheet.actor.loot [data-visibility]:not([data-visibility=all]) {
    outline: none;
    padding: 2px;
}
.dark-loot-theme.sheet.actor.loot [data-pf2-effect-area] {
    font-family: "Good OT";
    color: var(--pfui-main-color);
    background: var(--custom-trait);
    padding: 0px 3px;
    border: 1px solid var(--glassy);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}
.dark-loot-theme.sheet.actor.loot a.inline-check[data-pf2-traits*=secret], .dark-loot-theme.sheet.actor.loot span[data-pf2-check][data-pf2-traits*=secret] {
    font-family: "Good OT";
    color: var(--pfui-main-color);
    background: var(--custom-trait);
    padding: 0px 3px;
    border: 1px solid var(--glassy);
    border-radius: var(--border-radius);
}	
.dark-loot-theme.sheet.actor.loot a.inline-check, .dark-loot-theme.sheet.actor.loot span[data-pf2-check] {
    font-family: "Good OT";
    color: var(--pfui-main-color);
    background: var(--custom-trait);
    padding: 0px 3px;
    border: 1px solid var(--glassy);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}
.dark-loot-theme.sheet.actor.loot a.inline-check, .dark-loot-theme.sheet.actor.loot span[data-pf2-action] {
    font-family: "Good OT";
    color: var(--pfui-main-color);
    background: var(--custom-trait);
    padding: 0px 3px;
    border: 1px solid var(--glassy);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}
.dark-loot-theme.sheet.actor.loot a.content-link, .dark-loot-theme.sheet.actor.loot a.inline-roll {
    font-family: "Good OT";
    color: var(--pfui-main-color);
    background: var(--custom-trait);
    padding: 0px 3px;
    border: 1px solid var(--glassy);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}
.dark-loot-theme.sheet.actor.loot .item-image:hover i {
    background: var(--green);
    color: var(--background);
    box-shadow: 0 0 6px inset var(--glass-bg);
}




/*      Inventory       
*************************/
.dark-loot-theme.sheet.actor.loot .coinage {
    backdrop-filter: blur(5px);
    padding: 0 3px 0 0;
}
.dark-loot-theme.sheet.actor.loot .currency {
    color: var(--pfui-main-color);
    border: none;
    background: none;
    background-color: var(--glass-bg);
    box-shadow: var(--box-shadow);
    text-shadow: 0 0 3px black;
    border-radius: var(--border-radius);
}
.dark-loot-theme.sheet.actor.loot .currency .label {
    color: var(--green);
}
.dark-loot-theme.sheet.actor.loot .currency .denomination {
    color: var(--pfui-main-color);
}
.dark-loot-theme.sheet.actor.loot .currency li > button {
    color: var(--pfui-main-color);
    border: none;
    background: none;
    background-color: var(--glass-bg);
    box-shadow: var(--box-shadow);
    text-shadow: 0 0 3px black;
    border-radius: var(--border-radius);
}
.dark-loot-theme.sheet.actor.loot .tags .tag, .dark-loot-theme.sheet.actor.loot .tags .tag option {
    color: var(--pfui-main-color);
    text-transform: uppercase;
    border: 1px solid black;
    box-shadow: var(--box-shadow);
    text-shadow: 0 0 1px black;
    border-radius: var(--border-radius);
}
.dark-loot-theme.sheet.actor.loot .wealth {
    border: none;
    background: none;
    background-color: var(--glass-bg);
    box-shadow: var(--box-shadow);
    text-shadow: 0 0 3px black;
    border-radius: var(--border-radius);
}
.dark-loot-theme.sheet.actor.loot .wealth h3.item-name {
    color: var(--pfui-main-color);
}
.dark-loot-theme.sheet.actor.loot .inventory .inventory-header {
    color: var(--pfui-main-color)!important;
    background: radial-gradient(var(--primary-remaster), var(--glass-bg-dark))!important;
    border: none;
    box-shadow: var(--box-shadow);
    text-shadow: 0 0 1px black;
    border-radius: var(--border-radius);
    backdrop-filter: blur(5px);
}
.dark-loot-theme.sheet.actor.loot .currency li > button:hover:not(:disabled) {
    border: 1px solid black;
    background: none;
    background-color: var(--green);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15), inset 0 0 0 2px rgba(0, 0, 0, 0.4);
    transition: text-shadow 0.15s ease-in-out, background-color 0.15s ease-in-out, border 0.15s ease-in-out, color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, backdrop-filter 0.15s ease-in-out, border-radius 0.15s;
    text-shadow: 0 0 1px black!important;
    color: var(--background)!important;
    border-radius: var(--border-radius);
}
.dark-loot-theme.sheet.actor.loot .inventory .item-name h4:not(:hover).rarity-common {
    border-color: #7e7e7e;
    color: #7e7e7e;
}
.dark-loot-theme.sheet.actor.loot .inventory .item-name h4:not(:hover).rarity-uncommon {
    border-color: #ff6400;
    color: #ff6400;
}
.dark-loot-theme.sheet.actor.loot .inventory .item-name h4:not(:hover).rarity-rare {
    border-color: #0062ff;
    color: #0062ff;
}
.dark-loot-theme.sheet.actor.loot .inventory .item-name h4:not(:hover).rarity-unique {
    border-color: #e127e1;
    color: #e127e1;
}
.dark-loot-theme.sheet.actor.loot .inventory .item-name h3:hover, .dark-loot-theme.sheet.actor.loot .inventory .item-name h4:hover {
    color: var(--green);
}
.dark-loot-theme.sheet.actor.loot .inventory .list-row .item-controls {
    color: var(--pfui-main-color);
}
.dark-loot-theme.sheet.actor.loot .inventory .item .quantity, .dark-loot-theme.sheet.actor.loot .inventory .item .bulk, .dark-loot-theme.sheet.actor.loot .inventory .item .item-controls, .dark-loot-theme.sheet.actor.loot .inventory .item .sell-value {
    border: none;
}
.dark-loot-theme.sheet.actor.loot .inventory .list-row .item-controls .item-control.toggle-invested.active, .dark-loot-theme.sheet.actor.loot .inventory .list-row .item-controls .item-control.item-carry-type.active {
    color: var(--green);
}
.dark-loot-theme.sheet.actor.loot .inventory .list-row .item-controls .item-control.toggle-invested, .dark-loot-theme.sheet.actor.loot .inventory .list-row .item-controls .item-control.item-carry-type {
    color: var(--green);
}
.dark-loot-theme.sheet.actor.loot .inventory .item-summary {
    border: none;
    background: none;
}
.dark-loot-theme.sheet.actor.loot .inventory .inventory-items {
    border: none;
}



/*        Glassy       
*************************/
.glassy.dark-loot-theme.sheet.actor.loot .window-content {
    margin: 10px 10px 0px 5px;
    backdrop-filter: none;
}
.glassy.dark-loot-theme.sheet.actor.loot .sheet-header {
    border-radius: 5px;
}
.glassy.dark-loot-theme.sheet.actor.loot .section-container .section-header {
    backdrop-filter: blur(5px);
}
.system-pf2e .glassy.dark-loot-theme.sheet.actor.loot:not(.loot-sheet-npc), .system-pf2e .sheet.item {
    background: none;
    box-shadow: none;
    border: none;
}
.glassy.dark-loot-theme.sheet.actor.loot .window-header {
    box-shadow: var(--box-shadow);
       background-color: var(--color-cool-5-90);
    border-radius: var(--border-radius);
    margin: 0px 10px;
    backdrop-filter: blur(5px);
    text-shadow: 0 0 8px var(--color-shadow-primary);
}

.glassy.dark-loot-theme.sheet.actor.loot .sidebar .image-container img.actor-image {
    box-shadow: var(--box-shadow);
    border: none;
    border-radius: 8px;
    margin: 5px 0px 5px 7px;
    backdrop-filter: blur(5px);
    width: 93%;
}
.glassy.dark-loot-theme.sheet.actor.loot .side-bar-section {
    box-shadow: var(--box-shadow);
       background-color: var(--color-cool-5-90);
    border-radius: var(--border-radius);
    margin: 5px 5px;
    backdrop-filter: blur(5px);
}
.glassy.dark-loot-theme.sheet.actor.loot section.sidebar {
    box-shadow: var(--box-shadow);
       background-color: var(--color-cool-5-90);
    border-radius: 10px;
    margin: 1px 5px 5px 5px;
    backdrop-filter: blur(5px);
}
.glassy.dark-loot-theme.sheet.actor.loot .inventory {
    width: 102%;
}
.glassy.dark-loot-theme.sheet.actor.loot .inventory .inventory-list {
    width: 101%;
}
.glassy.dark-loot-theme.sheet.actor.loot .list-row {
    width: 99%;
}
.glassy.dark-loot-theme.sheet.actor.loot .inventory .inventory-header {
    margin: 5px 0px 0px 1px;
}
.glassy.dark-loot-theme.sheet.actor.loot .inventory .item {
    box-shadow: var(--box-shadow);
       background-color: var(--color-cool-5-90);
    border-radius: var(--border-radius);
    margin: 5px 5px;
    backdrop-filter: blur(5px);
}
.glassy.dark-loot-theme.sheet.actor.loot .window-resizable-handle i.fas {
    color: var(--green);
       background-color: var(--color-cool-5-90);
}
.glassy.dark-loot-theme.sheet.actor.loot .window-resizable-handle {
    background: none;
    border: none;
}

